.footer {
  display: flex;
  width: 100dvw;
  height: 48px;
  justify-content: center;
  align-items: center;
  padding: spacing(xl);
  background-color: $color-background-alt;
  color: $color-text-primary;
  text-align: center;
  font-weight: 750;
  box-shadow: $box-shadow-xl;
}
